.profilePage {
    max-width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userInfoData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.userTasks {
    box-sizing: border-box;
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}

.userTaskLists {
    display: flex;
    flex-wrap: wrap;
}

.smallButton {
    padding: 5px;
    color: #d0e1ba;
    cursor: pointer;
    background-color: #069f58;
    border-radius: 10px;
    margin-top: 20px;
}

.SharedTasksContainer {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #1a7a32;
}
